{% load otree_tags staticfiles %}

<div>
    <h3>Подсказчик</h3>
{#    <table>#}
{#        <caption>Подсказчик</caption>#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Правило №</th>#}
{#            {% for rule in Constants.rule %}#}
{#                <th colspan="1">{{ rule }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#        <tbody>#}
{#        {% for rule in player.rules %}#}
{##}
{#        {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
    <p>Подсказчик советует: {{ player.get_fuzzy_tip }}</p>
</div>