{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкция
    </h3>

    <p>
        Вы были случайно и анонимно распределены по группам, состящим из {{ Constants.players_per_group }} участников.
        Каждый из вас представляет фирму. Все фирмы борятся за один ресурс, распределяемый банком.
    </p>

    <p>
        Каждый из вас должен сделать заявку на ресурс.
        Ваша заявка может быть размером от 0 до {{ subsession.get_R }}.
    </p>

    <p>
        Ваша прибыль в очках вычисляется целевой функцией:
    </p>

    <ul>
        <strong>Ваша целевая функция u(x) = {{ group.get_b }}x - {{ player.get_a_i }}x<sup>2</sup></strong>
    </ul>

</div>
