{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкция
    </h3>

    <p>
        You have been randomly and anonymously paired with another participant.
        Each of you will represent a firm. Both firms manufacture the same product.
    </p>

    <p>
        The two of you decide simultaneously and independently how many units to manufacture.
        Your choices can be any number from 0 to {{ subsession.get_R }}.
        All produced units will be sold, but the more is produced, the lower the unit selling price will be.
    </p>

    <p>
        Ваша прибыль в очках вычисляется целевой функцией:
    </p>

    <ul>
        <strong>Ваша целевая функция u(x) = {{ Constants.b }}x - {{ player.get_a }}x<sup>2</sup></strong>
    </ul>

</div>
